<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block body_content %}

<!-- Carousel -->

    <h2>Endangered Species in the Ocean</h2>

    <div id="myCarousel" class="carousel slide">

      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>

      <div class="carousel-inner">

        <div class="carousel-item active">
          <img src="{{ url_for('static', filename='images/north_atlantic_right_whale.png') }}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>North Atlantic Right Whale</h5>
            <p>By 2021, the NOrth Atlantic right whale population was estimated to have decreased down to fewever than 340 individuals, mainly caused by ship strikes and entanglement in fishing gear.</p>
          </div>
        </div>

        <div class="carousel-item active">
          <img src="{{ url_for('static', filename='images/Bluefin_tuna.png') }}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Southern Bluefin Tuna</h5>
            <p>This fish species has recently moved from being listed as a "critically endangered" species to "endangered." However, the threat of overfishing remains as some tuna supplies are still depleted in certain regions. Rising ocean temperature is also a challenge for the Southern Bluefin Tuna since it affects their respiratory and circulatory systems.</p>
          </div>
        </div>

        <div class="carousel-item active">
          <img src="{{ url_for('static', filename='images/Giant_manta_ray.png') }}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Giant Manta Ray</h5>
            <p>A 2020 IUCN report found that giant manta ray had undergone a population decline of between 50 percent and 79 percent within 87 years, which was a direct consequence of unsustainable fishing practicies. Gaint manta rays are targeted and harvested for their gill plates, which they use to filter feed on small zooplankton from the water body, especially in the market in Asia.</p>
          </div>
        </div>

      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>

      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

    </div>


    <h2>Articles related to recent marine conservation efforts in Japan</h2>

<!--- News card --->

    <div class="row row-cols-1 row-cols-md-2 g-4">

      <div class="col">
        <div class="card">
          <img src="{{ url_for('static', filename='images/coral_reef_2.png') }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Okinawa Coral Reef Protection</h5>

            <p class="card-text">
                <a href="https://www.oist.jp/oist-coral-project">
                    Link for the article
                </a><br>
            </p>

          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <img src="{{ url_for('static', filename='images/tuna_overfishing.png') }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Overfishing of Bluefin Tuna</h5>

            <p class="card-text">
                <a href="https://www.bbc.com/future/article/20241210-saving-bluefin-tuna-the-sushi-delicacy-threatened-by-climate-change">
                    Link for the article
                </a><br>
            </p>

          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <img src="{{ url_for('static', filename='images/seaweed.png') }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Saving the Seaweed</h5>

            <p class="card-text">
                <a href="https://web-japan.org/trends/11_tech-life/202510_blue-carbon.html">
                    Link for the article
                </a><br>
            </p>

          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <img src="{{ url_for('static', filename='images/shark_protection.png') }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Protecting the Sharks</h5>

            <p class="card-text">
                <a href="https://www.jwcs.org/en/themes/sharks/">
                    Link for the article
                </a><br>
            </p>

          </div>
        </div>
      </div>


{% endblock %}