<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}Map{% endblock %}
{% block body_content %}
    <!-- <img src="{{url_for('static', filename='images/Japan_map.svg')}}" class="object-fit-cover border rounded" style="height: 600px; width:875px;"> -->



    <div id="mapWrapper" class="position-relative text-center" style="text-align: center; position: relative;">
        <object id="mapObj" data="{{url_for('static', filename='images/Japan_map.svg')}}" type="image/svg+xml" style="width:38%;" class="center"></object>

        <div style="top:20px; left: 400px; popover-max-width: 400;" class="position-absolute">


            <button id="PopHokkaido" type="button" class="btn btn-lg btn-danger position-absolute" data-bs-toggle="popover" data-bs-title="" data-bs-placement="bottom" data-bs-content="" style="visibility: hidden; background-color:white; border:2px solid white; display: none;">
                <div class="card">
                    <div class="card-header bg-primary text-white">Hokkaido</div>
                    <div class="card-body fs-6">
                        <p class='card-text'>Hokkaido is located near Russia</p>
                    </div>
                </div>

            </button>

            <button id="PopTohoku" type="button" class="btn btn-lg btn-danger position-absolute" data-bs-toggle="popover" data-bs-title="" data-bs-placement="bottom" data-bs-content="" style="visibility: hidden; background-color:white; border:2px solid white; display: none;">
                <div class="card">
                    <div class="card-header bg-primary text-white">Tohoku</div>
                    <div class="card-body">
                        <p class='card-text'>Tohoku is located beneath Hokkaido</p>
                    </div>
                </div>
            </button>

            <button id="PopKanto" type="button" class="btn btn-lg btn-danger position-absolute" data-bs-toggle="popover" data-bs-title="" data-bs-placement="bottom" data-bs-content="" style="visibility: hidden; background-color:white; border:2px solid white; display: none;">
                <div class="card">
                    <div class="card-header bg-primary text-white">Kanto</div>
                    <div class="card-body">
                        <p class='card-text'>Kanto is located beneath Tohoku</p>
                    </div>
                </div>
            </button>

            <button id="PopChubu" type="button" class="btn btn-lg btn-danger position-absolute" data-bs-toggle="popover" data-bs-title="" data-bs-placement="bottom" data-bs-content="" style="visibility: hidden; background-color:white; border:2px solid white; display: none;">
                <div class="card">
                    <div class="card-header bg-primary text-white">Chubu</div>
                    <div class="card-body">
                        <p class='card-text'>Chubu is located next to Kanto</p>
                    </div>
                </div>
            </button>

            <button id="PopKansai" type="button" class="btn btn-lg btn-danger position-absolute" data-bs-toggle="popover" data-bs-title="" data-bs-placement="bottom" data-bs-content="" style="visibility: hidden; background-color:white; border:2px solid white; display: none;">
                <div class="card">
                    <div class="card-header bg-primary text-white">Kansai</div>
                    <div class="card-body">
                        <p class='card-text'>Kansai is located next to Chubu</p>
                    </div>
                </div>
            </button>

            <button id="PopChugoku" type="button" class="btn btn-lg btn-danger position-absolute" data-bs-toggle="popover" data-bs-title="" data-bs-placement="bottom" data-bs-content="" style="visibility: hidden; background-color:white; border:2px solid white; display: none;">
                <div class="card">
                    <div class="card-header bg-primary text-white">Chugoku</div>
                    <div class="card-body">
                        <p class='card-text'>Chugoku</p>
                    </div>
                </div>
            </button>

            <button id="PopShikoku" type="button" class="btn btn-lg btn-danger position-absolute" data-bs-toggle="popover" data-bs-title="" data-bs-placement="bottom" data-bs-content="" style="visibility: hidden; background-color:white; border:2px solid white; display: none;">
                <div class="card">
                    <div class="card-header bg-primary text-white">Shikoku</div>
                    <div class="card-body">
                        <p class='card-text'>Shikoku</p>
                    </div>
                </div>
            </button>

            <button id="PopKyushu" type="button" class="btn btn-lg btn-danger position-absolute" data-bs-toggle="popover" data-bs-title="" data-bs-placement="bottom" data-bs-content="" style="visibility: hidden; background-color:white; border:2px solid white; display: none;">
                <div class="card">
                    <div class="card-header bg-primary text-white">Kyushu</div>
                    <div class="card-body">
                        <p class='card-text'>Kyushu</p>
                    </div>
                </div>
            </button>

            <button id="PopOkinawa" type="button" class="btn btn-lg btn-danger position-absolute" data-bs-toggle="popover" data-bs-title="" data-bs-placement="bottom" data-bs-content="" style="visibility: hidden; background-color:white; border:2px solid white; display: none;">
                <div class="card">
                    <div class="card-header bg-primary text-white">Okinawa</div>
                    <div class="card-body">
                        <p class='card-text'>Okinawa</p>
                    </div>
                </div>
            </button>

        </div>

    </div>

<script>

    function hideAllPopovers(){
        // ^ is startwith. Get all elements that start with "Pop"
        const popovers = document.querySelectorAll('[id^="Pop"]');

        // Hide each element
        popovers.forEach(pop => {
            pop.style.visibility = "hidden";
            pop.style.display = "none";
        });
    }

    const obj = document.getElementById("mapObj");
    console.log(obj)

    obj.addEventListener("load", () => {
        const svgDoc = obj.contentDocument;
        console.log("SVG loaded:", !!svgDoc);

    const groups = Array.from(svgDoc.querySelectorAll("g"));
    console.log("All groups:", groups.length);

    const regions = groups.filter(g => g.id);
    console.log("Regions found:", regions.map(r => r.id));
    console.log("All groups:", regions.length);

    groups.forEach(region => {
        region.style.cursor = "crosshair";
        console.log(region);


        region.addEventListener("click", () => {
            console.log("Clicked:", region.id);

            // call hide all popovers
            event.stopPropagation();
            hideAllPopovers();


            if (region.id){
                var pop = document.getElementById("Pop" + region.id);
                pop.style.visibility = "visible";
                pop.style.display = "block";
                pop.focus();
                pop.setAttribute('tabindex', '0');

            }
        });
    });



    });

</script>
{% endblock %}

